.hero {
    padding: 370px;
    height: 100%;
    background-image: url(../images/hero_desktop.jpeg);
    background-size: cover;

    &__content {
        max-width: 320px;
        &__branding {
            max-width:110px;
        }
    }
}